.skeletonWrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
  .ratingSkeleton {
    position: absolute;
    bottom: 72px;
    left: 20px;
  }
}
