.rating_wrapper {
  width: 57px;
  height: 57px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 100px;
  margin-left: 15px;
}
