.moviesPage {
  padding-block: 30px;
  .moviesTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
    .selects {
      display: flex;
      gap: 20px;

      .selectGenres {
        color: #000;
      }
      .selectSort {
      }
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    .movies_card {
      width: 215px;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      img {
        border-radius: 15px;
        width: 100%;
        max-width: 220px;
      }
      .card_info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .movieTitle {
          max-width: 215px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 22px;
          font-weight: 500;
          line-height: 25px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
